<section class="property-binding">
  <article>
    <h1>Interpolation / Interpolação</h1>
    <p>String rendererizada com interpolação: {{ url }}</p>
    <p>O resultado de 3 + 10 é igual a {{ 3 + 10 }}</p>
    <p>
      O resultado de 13 + 18 + retorno de getValor é igual a
      {{ 13 + 18 + getValor() }}
    </p>
    <p>
      O curso é de Angular .E. estou gostando? R:
      {{ cursoAngular && getGostandoCurso() }}
    </p>
  </article>

  <article>
    <h1>Property Binding</h1>
    <img src="{{ urlImagem }}" alt="imagem" />
    <img [src]="urlImagem" alt="imagem" />
  </article>

  <article>
    <h1>Class e Style Binding</h1>
    <div>
      Selecione uma opção:
      <select #escolha (change)="(0)">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br />
      <br />

      <div class="alert {{ escolha.value }}" role="alert">
        Texto colorido conforme valor do combobox.
      </div>

      <div
        role="alert"
        class="alert alert-danger"
        [style.display]="escolha.value === 'alert-danger' ? 'block' : 'none'"
      >
        Texto só aparece em caso de erro.
      </div>

      <div
        role="alert"
        class="alert"
        [class.alert-success]="escolha.value === 'alert-success'"
      >
        Success
      </div>
      <div
        role="alert"
        class="alert"
        [class.alert-info]="escolha.value === 'alert-info'"
      >
        Info
      </div>
      <div
        role="alert"
        class="alert"
        [class.alert-warning]="escolha.value === 'alert-warning'"
      >
        Warning
      </div>
      <div
        role="alert"
        class="alert"
        [class.alert-danger]="escolha.value === 'alert-danger'"
      >
        Danger
      </div>
    </div>
  </article>
</section>

<section>
  <article>
    <h1>Event Binding</h1>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">
        Clique-me!
      </button>
      <br />
      <br />
      <input
        #campoInput
        type="text"
        (keyup)="onKeyUp($event)"
        (blur)="salvarValor(campoInput.value)"
        (keyup.enter)="salvarValor(campoInput.value)"
      />
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>
      <br />
      <br />
      <span
        (mouseout)="onMouseOverOut()"
        (mouseover)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
        >Passe o mouse sobre esse texto.</span
      >
    </div>
  </article>
</section>
